
html {  font-family: 'Sofia Pro'; -webkit-font-smoothing: antialiased; }
body {  font-family: 'Sofia Pro'; -webkit-font-smoothing: antialiased; background: #fff }
img { max-width: 100%;}
.fw-medium { font-weight: 500}
.fw-semi { font-weight: 600}


header { position: fixed; left: 0; right: 0; background-color: #fff; top: 0; z-index: 10;}

.tophead {  padding-bottom: 0.9rem; padding-top: 0.9rem; }
.tophead ul {margin: 0; padding: 0; list-style: none;}
.tophead-right { text-align: right; display: flex; align-items: center; justify-content: flex-end; }
.tophead ul li { list-style: none; font-size: 13px; font-weight: 600; padding:0 15px; }
.tophead ul li a { color: #51459E; text-decoration: none ;}
.tophead ul li:last-child {padding-right: 0px;}


.btn-login{background: #51459E; border: 1px solid #51459E !important; box-shadow: 0px 12px 34px #1967D240; border-radius: 8px;
     opacity: 1; border: none; color: #FFFFFF; font-size: 13px; font-weight: 600; padding: 8px 30px; text-transform: uppercase;}
.btn-login:hover{background: #000000; color: #FFFFFF; border: 1px solid #000000 !important;}
.post-btn{border: 1px solid #51459E; border-radius: 8px; font-size: 13px; text-transform: uppercase; font-weight: 600; padding: 8px 30px; color: #51459E;}
.post-btn:hover{background: #51459E; color: #FFFFFF; border: 1px solid #51459E;}

.hero-section{ background: url(../images/Top-banner.png); background-repeat: no-repeat; background-size: cover; background-position: center;
height: 100vh; width: 100%;}
.top-bannerHead h1{color: #242424; font-size: 50px; font-weight: 100; margin-bottom: 0px;}
.top-bannerHead h1 span{font-weight: 900;}
.top-bannerHead h2{color: #575656; font-weight: 500; font-size: 28px; margin-top: 0px;}
.top-banner-searchbar{background: #FFFFFF; box-shadow: 0px 12px 34px #51459E80; border-radius: 10px; padding: 16px;}
.search-inpt{border: none; font-weight: 500; font-size: 14px; padding-left: 35px;}
.search-inpt::placeholder{color: #777777;}
.search-inpt:focus{border: none; outline: none; box-shadow: none;}
.search-icon{position: absolute; top: 7px;}
.first-text{color: #575656 !important; font-weight: 500; font-size: 12px; border: none !important;}
.hero-section ul{margin: 0; padding: 0;}
.hero-section ul li{list-style: none; font-weight: 500; font-size: 12px; display: inline; margin-right: 12px; padding-bottom: 3px; border-bottom: 1px dashed #51449E;}
.hero-section ul li a{color: #000000; text-decoration: none;}

.product{position: relative;}
.product-layer{position: absolute; width: 100%; height: 100%; background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    border-radius: 32px; padding: 40px 25px;}
.product-img{width: 100%; height: 334px;}
.product-img img{object-fit: cover; height: 100%; width: 100%; border-radius: 32px;}
.product-img-last{height: 250px;}

.product h6{color: #FFFFFF; font-weight: 500; font-size: 12px;}
.product h4{color: #FFFFFF; font-weight: 500; font-size: 30px; margin-bottom: 0px; margin-top: 15px;}
.product h4 span{font-weight: 100 !important; font-size: 20px !important;}
.product p{color: #FFFFFF; font-weight: 400; font-size: 14px; margin-bottom: 10px; line-height: 18px;}
.middle-cat{margin-top: 100px;}
.pro2{margin-top: 40px;}
.tophead-box{margin-top: -150px;}

.service-providerSec{background: url(../images/service-provider-wave.png) top right; background-repeat: no-repeat; background-size: 100%;}
.service-head h1{color: #242424; font-weight: 100; font-size: 28px; margin-bottom: 0px;}
.service-head h1 span{font-weight: 900;}
.service-head h2{color: #575656; font-weight: 500; font-size: 18px; display: flex; align-items: center;}
.service-head h2 span a{color: #51459E;}
.service-head h2 img{height: 20px; margin-top: 2px;}

.service-box{background: #FFFFFF; border: 2px solid #7070701A; border-radius: 32px; padding: 10px 20px; text-align: center;}
.service-box img{height: 60px; display: inline-block;}
.service-box a { text-decoration: none;}
.service-box p{color: #000000; font-weight: 500; font-size: 12px;}
.service-box p span{color: #1D8E1D;}
.service-box h2{color: #000000; font-weight: 600; font-size: 13px; margin-top: 20px;}
.service-box:hover { background: #51459e; }
.service-box:hover p, .service-box:hover h2, .service-box:hover p span{color: #fff; }
.service-box:hover img { filter: brightness(0.5);}



.slick-slide>div { padding: 0 10px; }
.slick-list { margin: 0 -10px; }

.servslider .slick-dots { width: 100%; position: absolute; top: -50px; text-align: right; bottom: inherit; }
.servslider .slick-dots li { height: 12px; width: 12px; }
.servslider .slick-dots li button { height: 12px; width: 12px; margin: 0; padding: 0; }
.servslider .slick-dots li button:before { background: #fff; border: 2px solid #51459E; height: 12px; width: 12px; border-radius: 50%; opacity: 1; color: rgba(0,0,0,0); }
.servslider .slick-dots li.slick-active button:before { background: #51459E; }

.clientslider .slick-dots { position: relative; bottom: inherit;}
.clientslider .slick-dots li { height: 11px; width: 11px; margin-top: 25px; }
.clientslider .slick-dots li button { height: 11px; width: 11px; margin: 0; padding: 0; }
.clientslider .slick-dots li button:before { background: none; border: 1px solid #fff; height: 11px; width: 11px; border-radius: 50%; opacity: 1; color: rgba(0,0,0,0); }
.clientslider .slick-dots li.slick-active button:before { background: #fff; }

.protocall-section{background: url(../images/prorocall-layer.svg); background-repeat: no-repeat; background-size: 69%; background-position: 199% 85%;}
.top-waveprotocall{width: 100%; height: 100%;}
.protocall-secbg{background: #F7F8FD;}
.protocall-secbg-wave{ background: url(../images/service-provider-wave.png) top right; background-repeat: no-repeat; background-size: 100%;}

.service-head p{color: #242424cc; font-weight: 400; font-size: 14px;}
.service-head h6{color: #000000cc; font-weight: 400; font-size: 14px; margin-top: 15px;}
.service-head h5{color: #242424; font-size: 24px; font-weight: 100; margin-top: 12px; margin-bottom: 0px;}
.service-head h5 span{font-weight: 900;}
.exlpore-btn{background: #FAD15C; box-shadow: 0px 12px 34px #FAD15C33; border-radius: 8px; border: none; color: #242424; 
    font-weight: 500; font-size: 12px;}
.member-secRight h6{color: #000000; font-weight: 500; font-size: 20px;}
.member-secRight p{color: #00000099; font-weight: 400; font-size: 14px;}
.member-secborder{border-bottom: 3px solid #51459E; width: 40px; margin-bottom: 5px;}
.member-leftsecimg{background: #51459E14; height: 80px; width: 80px; border-radius: 50%; text-align: center; line-height: 70px;}

.top-bannerHead p{color: #000000cc; font-weight: 400; font-size: 14px; margin-top: 15px;}
.rating-point{background: #D6CACA40;  border-radius: 32px; padding: 25px 0px; position: relative; overflow: hidden;}
.rating-point h1{color: #242424; font-size: 40px; font-weight: 100; margin-bottom: 0px;}
.rating-point p{color: #575656; font-weight: 500; font-size: 16px; line-height: 20px; margin-bottom: 0px; margin-top: 10px;}
.project-rightGirl{position: absolute; right: 0;  top: 30px; height: 500px;}
  
.rating-point:before {
    background: #faf9f7; 
    padding-bottom: 20px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 48px;
    width: 90%;
    height: 100px;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 50%;
    border-top-right-radius: 30%;
}

.logo-img img{margin-right: 25px; margin-top: 18px;}
.trusted-manSec:before {
    background: transparent linear-gradient(90deg, #265CDE 0%, #4081F2 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 32px;
    padding-bottom: 20px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 84%;
    width: 100%;
}
.trusted-manSec{
    position: relative;
    padding-bottom: 30px;
    margin-top: -30px;
}
.trusted-manSec p{color: #ffffffcc; font-weight: 400; font-size: 13px; margin-bottom: 0px;}
.trusted-manSec h2{color: #FFFFFF; font-weight: 500; font-size: 16px; margin-top: 10px; margin-bottom: 0px;}
.trusted-manSec h5{font-weight: 500; font-size: 12px; margin-top: 10px;}
.trusted-manSec h5 a{color: #FFFFFF; }
.young-manSec{position: relative;}
.young-manimg{position: relative; z-index: 2;}
 .young-manSec:after {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 12px 34px #d6caca40;
    border-radius: 32px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
}
.comma-img{margin-left: -20px; padding-top: 120px;}
.threeCollection .owl-dots{bottom: 5px; width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden; 
    text-align: center;
}
.threeCollection .owl-dot {height: 11px; width: 11px; display: inline-block; background: none; border: 1px solid #FFFFFF; margin-left: 5px; margin-right: 5px;
	 border-radius: 20px; margin-top: 25px;}
.threeCollection .owl-dot.active {background: #FFFFFF; border: 1px solid #FFFFFF;}

.footer-section{background: #F8F9FA; opacity: 1;}
.footer-section p{color: #00000080; font-size: 12px; margin-top: 25px; margin-bottom: 0px;}
.footer-section ul{margin: 0; padding: 0;}
.footer-section ul li{ font-size: 12px; font-weight: 500; list-style: none; margin-bottom: 10px;}
.footer-section ul li a{color: #575656;}
.footer-section h2{color: #575656; font-weight: 700; font-size: 18px; margin-bottom: 18px;}
.footer-section h6{color: #00000080; font-size: 13px; padding-top: 15px; font-weight: 400; margin-bottom: 0px;}
.footbtn{background: #51459E14; border-radius: 12px; padding: 10px 12px;}
.footbtn h5{color: #51459E; font-weight: 400; font-size: 12px; margin-bottom: 0px;}



/* Login Page */
.login-img img.loginbg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}
.login-img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.min-heighvh {
    min-height: 100vh;
    height: 100%;
}

.login-section{background: url(../images/login-bg.svg) bottom right; background-repeat: no-repeat; 
      background-size: 70%;}

.login-smsimg{position: absolute; top: 28px; left: 20px; height: 20px}
.login-input{font-size: 14px; font-weight: 500; padding-left: 52px; background: #FFFFFF; box-shadow: 0px 12px 34px #20345914;
    border-radius: 10px;  padding-top: 35px; padding-bottom: 35px; border: 2px solid #FFFFFF;}
.login-input:focus{outline: none; background: #FFFFFF; box-shadow: 0px 12px 34px #20345914; border: 2px solid #5A9E45B3; border-radius: 10px;}
.login-input::placeholder{color: #24242466; font-weight: 500;}

.login-section h1{color: #242424; font-size: 40px; font-weight: 900; margin-bottom: 0px;}
.login-section h2{color: #575656; font-size: 20px; font-weight: 500; margin-bottom: 0px;}
.login-section h2 span{font-weight: 900;}

.login-section p {font-weight: 500; font-size: 16px;}
.login-section p a{color: #000000; border-bottom: 1px dashed #24242466; padding-bottom: 3px;}
.login-section h6{color: #242424; font-weight: 500; font-size: 22px;}


.continue-btn{background: #F0F0F0; border-radius: 10px; color: #242424; font-weight: 500; font-size: 14px;
 padding: 7px 35px; align-items: center; display: flex;}

.login-section h3{color: #000000; font-weight: 400; font-size: 12px; position: absolute; bottom:0 }
.position-inherit { position: inherit;}

.hori-line{
    position: relative;
}
.hori-line::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 374px;
    background-color: #dee2e6;
    left: 23px;
    top: 17px;

}

/* password */
.paswd-eyes{position: absolute; right: 20px; top: 28px; height: 20px;}
.login-box:hover{border: 2px solid #5A9E45B3;}

/* client-section */
.client-section{background: url(../images/client-selector-bg.svg) bottom right; background-repeat: no-repeat;
background-size: 30%;}

.client-rightimg{position: absolute; top: 90px; right: 0; height: 500px;}
.client-section h1{color: #242424; font-size: 40px; font-weight: 900; margin-bottom: 0px;}
.client-section h2{color: #575656; font-size: 20px; font-weight: 500; margin-bottom: 0px;}
.client-section h2 span{font-weight: 900;}
.client-radio{background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 12px 34px #20345914; border-radius: 10px;
     border: 2px solid #FFFFFF; min-height: 245px;}

.client-radio p{color: #242424; font-size: 22px; font-weight: 700; padding-left: 23px; margin-bottom: 10px; line-height: 22px;}
.client-radio h6{color: #242424cc; font-size: 13px; font-weight: 500; padding-left: 23px;}

.client-radio:hover{background: #51459E1A; box-shadow: 0px 12px 34px #20345914; border: 2px solid #51459E; border-radius: 10px;}
.client-wave-left{background: url(../images/client-wave-left.svg) left; background-repeat: no-repeat; background-size: 50%;}

 .client-section h3{color: #000000; font-weight: 400; font-size: 12px; padding-top: 100px;} 
/* .client-radio img{height: 191px;} */

/* clientsignup-from */
.checkFrom-label{color: #242424 !important; font-weight: 500; font-size: 13px !important;}

/* clientsignup-profile */
.client-profile{background: url(../images/client-profilebg.svg) bottom left; background-repeat: no-repeat;
background-size: 40%; min-height: 100vh;}
.client-profilehead h1{color: #242424; font-size: 40px; font-weight: 900; margin-bottom: 0px;}
.client-profilehead h2{color: #575656; font-size: 20px; font-weight: 500; margin-bottom: 0px;}
.client-profilehead h2 span{font-weight: 900;}

.browse-btn{background: #242424; box-shadow: 0px 12px 34px #24242433; border-radius: 8px; color: #FFFFFF;
    padding: 8px 30px; font-size: 13px; font-weight: 600;}
    .browse-btn:hover{color: #ffffff;}
.profile-label{color: #000000; font-size: 18px; font-weight: 600;}
.profile-inpt{padding-left: 0px;}
.profile-content h1{color: #51459E; font-size: 18px; font-weight: 600;}
.profile-content ul{margin: 0; padding-inline-start: 20px;}
.profile-content ul li{color: #242424; font-size: 13px; font-weight: 500; margin-bottom: 15px;}

.upload-btn-wrapper {position: relative; overflow: hidden; display: block; text-align: right; top: -53px; right: 18px;}
.uploadBtn {background: #242424;  box-shadow: 0px 12px 34px #24242433; border-radius: 8px; color: #FFFFFF;
    padding: 8px 30px; font-size: 13px; font-weight: 600; border: none;}
.upload-btn-wrapper input[type=file] {font-size: 100px; position: absolute; left: -124px; top: 0; opacity: 0; cursor: pointer; height: 500px;
font-size: 20px; width: 900px;}
.profile-inpt{padding-left: 18px;}

.tophead-right .client-loginHead a { background: #FEF6DF; border: 1px solid #FAD15C; border-radius: 10px;  font-weight: 500; font-size: 12px;
    padding: 5px 20px 5px 35px; margin-bottom: 0px; position: relative;  }
.tophead .client-loginHead a{color: #242424;}
.tophead-right .client-loginHead span {font-weight: 700; text-transform: uppercase;}
.client-loginHead a img { position: absolute; height: 65px; top: -20px; left: -20px;}

.user-picHead a { 
    display: flex;
    align-items: center; 
}
.user-picHead span img { border-radius: 50%; object-fit: cover;  width:100%; height: 100%;  transform: rotate(-45deg); }

.user-picHead span { border-radius: 50%;
    border: #51459E 2px solid;
    padding: 2px;
    border-left-color: #fff;
    border-right-color: #fff;
    height: 38px;
    width: 38px;
    transform: rotate(45deg);
}

.user-picHead p { 
    color: #51459E;
    font-size: 14px;
    font-weight: 600; 
    width: 65px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 5px;
}
 
.tophead h6{color: #51459E; font-size: 14px; font-weight: 600; margin-bottom: 0px;}
.tophead h6 img{height: 30px; border-radius: 50%;}
.profile-content .user-uploadimg{box-shadow: 0px 12px 34px #20345914; border: 2px solid #51459E; border-radius: 10px; position: relative;}
.cross-img{position: absolute;  left: 110px; top: 10px; height: 30px;}

/* hire */
.client-section h4{color: #242424cc; font-weight: 600; font-size: 27px; margin-top: 25px;}

/* srvice-provider-from */
.radio-input{ border: 2px solid #FFFFFF; padding-left: 16px; background: #FFFFFF; box-shadow: 0px 12px 34px #20345914; border-radius: 10px; padding-top: 18px; padding-bottom: 17px}
.radio-input:hover{background: #51459E1A; box-shadow: 0px 12px 34px #20345914; border: 2px solid #51459E; border-radius: 10px;}
.radio-label{color: #242424; font-weight: 500; font-size: 14px !important; padding-left: 40px !important; padding-top: 2px !important;}

/* service-provider full */
.service-providerFullbg{background: url(../images/serviceprovider-fullbg.svg) center right; background-repeat: no-repeat;
    background-size: 40%;}

.remove-btn{background: #DD3636; border-radius: 8px; border: none; padding: 7px 30px; font-size: 12px; font-weight: 700;}
.service-providerfullbgBottom{background: url(../images/servicefrom-books.svg) top right; background-repeat: no-repeat;
     background-position: 149% 0%;}

#accordion .btn-link {width: 100%; text-align: left; text-decoration: none; color: #242424; font-size: 14px; font-weight: 500;}
#accordion .card-header {background: #FFFFFF; border-radius: 10px; border-bottom: none; padding: 0.85rem 0.5rem; }
#accordion .card {border: none;
    margin-bottom: 15px;
    background: #FFFFFF !important;
    box-shadow: 0px 12px 34px #20345914;
    border-radius: 10px;}

#accordion .card-header .added-accordtext{float: right; color: #5A9E45; font-weight: 500; font-size: 14px;}
#accordion .card-header .added-blackText{float: right; color: #242424; font-weight: 500; font-size: 14px;}

/* Serviceprovider profile-builder1*/
.nav-tabs{border-bottom: none;}
.nav-tabs .nav-link {border: none; position: relative;}
.nav-tabs .nav-link {color: #51459e33; font-weight: 500; font-size: 16px; margin-right: 20px; padding: 5px 29px 5px 0px;}
.nav-tabs .nav-link.active {color: #51459E;  position: relative;}
.nav-tabs .nav-link.active:after{
     content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 5px; 
    width: 100%;
    background: #51459E;
    bottom: -3px;
    border-radius: 20px;
}
.nav-tabs .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 5px; 
    width: 100%;
    background: #51459e33;
    bottom: -3px;
    border-radius: 20px;
}

.words-text{color: #242424; font-weight: 500; font-size: 12px; padding-top: 3px; margin-bottom: 0px;}
.selected-probuilder{color: #00000099; font-weight: 600; font-size: 17px; margin-bottom: 5px;}
.related-skills{color: #51459E; font-weight: 600; font-size: 16px; padding-top: 15px;}

.skill-btn{background: #51459e1a; border-radius: 8px; border: none; padding: 5px 15px; color: #242424; font-weight: 500; font-size: 12px;}
.skill-btn img{height: 15px; margin-top: -5px; margin-left: 5px;}
.skill-btn:hover{background: #51459e1a; color: #000000; border: none;}
.profile-buildergps{color: #51459E; font-weight: 700; font-size: 12px; border-bottom: 1px dashed #51449E; padding-bottom: 3px;}

.iframecontact-map{border: none; width: 100%; border-radius: 10%; height: 220px;}

.notification-numb{
    background: #DD3636;
    font-size: 10px;
    color: #FFFFFF;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    text-align: center;
    top: 0px;
    right: 12px;
    font-weight: 600;
}

.add-membrbtn{padding: 8px 15px;}

.slider.slider-horizontal .slider-handle {background: #51459E; height: 16px; width: 16px;}
#ex1Slider .slider-selection {background: #51459E;}
.slider.slider-horizontal .slider-track {height: 7px; background: #DDDDDD;}

.mobile-sec{background: url(../images/mobile-secbg.svg); background-repeat: no-repeat; background-size: cover; border-radius: 32px;
     width: 100%;}

.mobile-secContent{padding-left: 30px;}
.mobile-secContent h1{color: #FFFFFF; font-weight: 900; font-size: 25px; margin-bottom: 0px;} 
.mobile-secContent p{color: #ffffffcc; font-weight: 600; font-size: 14px; margin-bottom: 0px; margin-top: 15px;}
.mobilesec-btn{background: #FFFFFF;border-radius: 10px; padding: 9px;}
.mobilesec-btn h5{color: #131A51; font-size: 12px; font-weight: 400;}
.mobilesec-btn h5 span {  font-weight: 700;}
.mobile-rightbg {background: url(../images/mobile-spiral2.png) center no-repeat; background-size: contain; text-align: center;  }
.circle-logo {width: 70px; margin-left: -28px; margin-bottom: -10px}
.mobile-rightbg img { max-height: 361px;}
.down-cirle-botom { width: 50px; margin-right: -25px; margin-top: 10px;}


// Sprint2
.Featured-img{ width: 100%; height: 130px;}
.Featured-img .furnitured-img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}
.close-imgafar{position: absolute; height: 30px; right: 20px; top: 5px;}
.far-btn{background: #1b9bde1a; border: none;}
.far-btn:hover{background: #1b9bde1a; border: none;}
.selected-far{margin-top: -20px;}
.card-body {padding: 0rem 1.25rem 1.25rem 1.25rem;}

.navbar {margin-top: 68px;}
.navbar-nav .nav-link {display: flex; color: #51459e80; font-size: 13px; font-weight: 600; padding: 0.7rem 0rem !important;
   margin-right: 70px;}
.navbar-nav .nav-link.active{color: #51459E !important; border-bottom: 3px solid #51459E;}
.navbar-nav .nav-link:last-child{margin-right: 0px;}
.navbar-nav .nav-link img{height: 18px; margin-right: 5px;}
.navbar-nav{border-bottom: 1px solid #dee2e6;}

.mayment-btn{border: 2px solid #242424; color: #242424; border-radius: 8px; position: relative; font-size: 13px; font-weight: 600; padding: 8px 30px;}
.btn-notification{left: 125px; top: -7px;}
.btn-notification2{left: 170px; top: -7px;}

.accordreact .accordion-item{box-shadow: 0px 12px 34px #20345914;  margin-bottom: 15px;  background: #FFFFFF; border-radius: 10px;
padding: 10px 15px 10px 15px;}
.accordreact .accordion-header .accordion-button{width: 100%; border: none; background: none; text-align: left; color: #242424;
font-size: 14px; font-weight: 500;}

.accordreact .accordion-header .accordion-button .added-accordtext{float: right; color: #5A9E45; font-weight: 500; font-size: 14px;}
.accordreact .accordion-header .accordion-button .added-blackText{float: right; color: #242424; font-weight: 500; font-size: 14px;}

.service-list{background: #FFFFFF; box-shadow: 0px 12px 34px #20345914; border-radius: 10px; position: relative;}
.service-item p{margin-bottom: 0px; color: #51459E; font-size: 16px; font-weight: 700;}
.service-item h6{color: #000000; font-size: 15px; margin-bottom: 0px;     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;}
.servie-itemnmb{color: #1B9BDE; font-size: 14px; margin-left: 10px;}
.service-itemdraft{color: #DD3636; font-size: 14px; margin-left: 10px; text-transform: uppercase;}
.service-itemImg-date{ border-radius:10px;background-color:  darkblue;display: flex;flex-direction: column;padding: 10px;}
.service-itemImg-date span{color: white}
.service-itemImg-date > :first-child{color: white;font-size: 26px;}
.service-itemImg{width: 100%; height: 72px;}
.service-itemImg img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}
.service-publicSec{background: #51459E1A; border-radius: 10px; padding: 19px 15px 19px 10px;}
.new-loginbtn{padding: 8px 20px;}
.service-publicSec h4{color: #000000; font-size: 14px; font-weight: 100; margin-bottom: 0px;}
.service-publicSec h5{margin-bottom: 0px; color: #51459E; font-size: 13px; font-weight: 700;}
.service-publicpink{background: #DD36361A;}
.service-itemhourly { color: #E2B63B; }
.serviceitemyfixed { color: #1B9BDE; }

/*--------Switch Css-------*/

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 28px;
    margin-bottom: 0;
    margin: 0 7px 0 0px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    position: relative !important;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border: #ffffff thin solid;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px; 
    top:3px;
    // bottom: 0px;
    background-color: #DD3636;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #5A9E454D;
    border: #5A9E454D thin solid;
  }
  
  input:focus + .slider {
    box-shadow: none;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background: #fff;
    left: -10px;
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.slider.round span { display: none; }
  
input:checked + .slider span.swactive { display: inline-block; color: #265F14; font-size: 12px;
     font-weight: 700; margin-left: 15px;}
input:checked + .slider:before {background-color: #5A9E45; left: 40px;}
     

input:not(:checked) + .slider span.swinactive { display: inline-block; font-size: 12px;
     color: #DD3636; font-weight: 700; margin-left: 28px;}


  /*-----switch Css ends------*/

.details-btn{color: #FFFFFF; border: 1px solid #1B9BDE; background: #1B9BDE; text-transform: uppercase; border-radius: 8px; font-size: 13px; font-weight: 600; padding: 8px 30px;}
.slider2{box-shadow: 0px 3px 6px #00000029;}
.serviceListeddetails-head p{margin-bottom: 0px; line-height: 15px; color: #51459E; font-size: 16px; font-weight: 700; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.serviceListeddetails-head h6{color: #242424; font-weight: 500; font-size: 16px; margin-bottom: 0px; margin-top: 3px;}
.fixed-costbox{background: #FFFFFF; border: 1px solid #51459E66; padding: 18px 15px; border-radius: 10px}
.fixed-costbox h2{color: #51459ecc; font-weight: 700; font-size: 14px;}
.fixed-costbox h1{color: #000000; font-weight: 700; font-size: 30px; margin-bottom: 0px;}
.fixed-costbox p{color: #000000; font-weight: 100; font-size: 16px; line-height: 17px; margin-bottom: 0px; margin-top: 10px;}
.fixed-costbox h6{color: #dd3636cc; font-weight: 700; font-size: 14px; margin-top: 0px;}
.fixed-costbox h3{color: #242424; font-weight: 700; font-size: 12px; text-align: center; margin-top: 18px;
    background: #5A9E451A; border: 1px solid #5A9E45B3; border-radius: 10px; padding: 10px 0px;}

.fixed-costbox h3 span{color: #51459E;}
.fixed-costbox h4{color: #000000; font-weight: 500; font-size: 13px; margin-bottom: 0px;}
.fixed-costbox h5{color: #242424b3; font-weight: 400; font-size: 10px; margin-bottom: 0px;}
.fixed-costproductimg{width: 100%; height: 358px; 
    //  box-shadow: 0px 12px 34px #20345914;
}
.fixed-costproductimg img{width: 100%; height: 100%; object-fit: cover; border-radius: 10px;}
.fixed-costproductimg2{height: 120px;}
.service-detailscont h4{color: #51459E; font-weight: 600; font-size: 25px;}
.service-detailscont p{color: #00000099; font-weight: 400; font-size: 14px; margin-bottom: 0px;}
.service-detailscont a{color: #1B9BDE; font-size: 18px; font-weight: 600;}

.included-service{background: #FFFFFF; box-shadow: 0px 12px 34px #20345914; border-radius: 10px;}
.included-servicehead{background: #51459E1A; border-radius: 10px 10px 0px 0px;}
.included-servicehead h1{color: #000000; font-size: 18px; font-weight: 500;  margin-bottom: 0px; padding: 10px 0px;}
.included-service p{color: #000000; font-weight: 500; font-size: 14px; margin-bottom: 0px;}
.assured-secbox{background: #5A9E451A; border: 1px solid #5A9E45; border-radius: 10px; padding: 15px 15px;}
.assured-secbox h1{color: #242424; font-weight: 600; font-size: 18px; margin-bottom: 0px;}
.assured-secbox p{color: #242424; font-size: 13px; font-weight: 400; margin-bottom: 0px; line-height: 17px;}
.assured-secbox h6{padding-top: 12px;}
.assured-secbox a{color: #242424; font-weight: 600; font-size: 16px; }
.assured-secbox h5{color: #242424; font-weight: 500; font-size: 18px; margin-bottom: 0px; margin-left: 36px;}
 .green-bg{background: url(../images/green-tick.svg); background-repeat: no-repeat;background-size: 40%; background-position: right;}

// .faq-sec{background: #F8F9FA;}
.faq-accordian .accordion-item .accordion-body{padding-left: 20px; padding-right: 15px; padding-bottom: 10px; color: #00000099; font-size: 12px; font-weight: 400;}
.faq-accordian .accordion-header .accordion-button{width: 100%; text-align: left; color: #000000; font-size: 14px; font-weight: 600;
     background: none; border: none; padding: 10px 25px;}
.faq-accordian .accordion-header{background: #51459E1A;  border-radius: 10px; display: flex;
    // border: 2px solid #51459E66;
}
.faq-accordian .accordion-header .collapsed{background: #FFFFFF; border: 2px solid #DDDDDD;  border-radius: 10px;}
.faq-accordian .accordion-header .accordup { display: none; float: right }
.faq-accordian .accordion-header .accorddown { float: right }
.faq-accordian .accordion-header .collapsed .accorddown { display: none; float: right }
.faq-accordian .accordion-header .collapsed .accordup { display: block; float: right }

.service-detailscont h5{color: #51459E; font-weight: 700; font-size: 20px; display: flex; align-items: center;}
.service-detailscont h5 span{color: #242424; font-weight: 500; margin-left: 10px;}
.reviews-rating p{color: #000000; font-weight: 500; font-size: 14px; margin-bottom: 0px;}
.reviews-rating h6{color: #51459E; font-weight: 700; font-size: 16px; display: flex; align-items: center;}
.reviews-rating h3{color: #51459E; font-weight: 600; font-size: 12px; margin-bottom: 0px;}
.reviews-rating h4{color: #242424; font-weight: 500; font-size: 10px;}

.review-providerSec h1{color: #000000; font-weight: 700; font-size: 22px; margin-bottom: 0px; position: relative;}
.review-providerSec h1::before{
    content: "";
    position: absolute;
    left: 0;
    width: 150px;
    height: 3px;
    background: #51459E;
    top: 40px;
   
}
.review-proimg{width: 100%; height: 61px;}
.review-proimg img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
.review-providerSec h2{color: #5A9E45; font-weight: 700; font-size: 16px; margin-bottom: 0px; display: inline-flex;}
.review-providerSec h3{color: #000000; font-weight: 500; font-size: 13px; margin-bottom: 0px;}
.review-providerSec p{color: #00000099; font-size: 12px; margin-bottom: 0px; font-weight: 400; line-height: 15px; margin-top: 7px;}

// sdf
.pagination-lg .page-item:first-child .page-link{border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.pagination-lg .page-item:last-child .page-link{border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.pagination-lg .page-link{padding: 0.55rem 1rem; font-size: 1.25rem; line-height: 1; }
.page-item.active .page-link{ background: #51459E 0% 0% no-repeat padding-box; border: 1px solid #51459E; border-radius: 10px; 
    color: #fff; height: 40px;}
    .page-link{background: #fff 0% 0% no-repeat padding-box; border: 1px solid #51459E; border-radius: 10px;  color: #51459E;
        height: 40px; margin-left: 10px;}
    .page-link:hover { color: #fff; text-decoration: none; background-color: #51459E; border-color: #51459E;}
    .newpage-link{border: 0; padding: 0rem 0rem !important; padding-top: 10px !important;}
    .newpage-link:hover{background: transparent !important; color: #51459E !important;}

//sdf

.client-profilehead h1 span{color: #51459E;}
.newclient-profilehead h2 span{padding: 5px 12px; font-size: 16px; font-weight: 500; color: #51459E; background: #51459E1A 0% 0% no-repeat padding-box;
    border-radius: 8px; display: inline-flex; align-items: center;}

.browse-section ul{ margin: 0; padding: 0;}
.browse-section ul li{ list-style: none; font-weight: 500; font-size: 12px; display: inline;
    margin-right: 12px; padding-bottom: 3px; border-bottom: 1px dashed #51449E;}
.browse-section ul li a{color: #000000; text-decoration: none;}

.browse-searchbar{box-shadow: 0px 12px 34px #20345914;}
.browse-btn{background-color: #000000;}

.found-section h6{letter-spacing: -1.2px; font-size: 20px; font-weight: 700;  color: #51459E;}
.found-box{padding: 20px 0px 25px 0px; border: 2px solid #dee2e6; border-left: none; border-right: none;}
.filter-box{box-shadow: 0px 12px 34px #20345914; border-radius: 10px; padding: 10px 30px 10px 30px;}
.filter-box .form-select{outline: none; border: 0; background: url(../images/arrow-down.svg) no-repeat right; appearance: none;}
.filter-box .form-select:focus{box-shadow: none; outline: none;}

.play-img{float: left; height: 40px; width: 40px; object-fit: cover; object-position: top; margin-right: 10px; border-radius: 50%;}
.found-result-box{background: #FFFFFF; padding: 0; margin: 40px 0px 0px 0px;  box-shadow: 0px 12px 34px #20345914; border-radius: 10px;}

.dash-img{height: 239px; width: 100%;}
.dash-img img { border-radius: 10px; width: 100%; height: 100%; object-fit: cover; object-position: top;}

.found-center{padding-top: 25px;}
.found-center h6{letter-spacing: -0.9px; font-size: 17px; margin-bottom: 5px; font-weight: 900; color: #1B9BDE; display: flex; align-items: center;}
.gay-textfond h6{color: #919191;}
.found-center h5{letter-spacing: -1.2px; color: #000000;font-size: 24px;  font-weight: 900;}
.found-center p{letter-spacing: -0.9px; color: #000000;font-size: 15px; opacity: 0.6; font-weight: 700;}
.found-center h4{letter-spacing: -1px; color: #51459E; font-size: 20px; margin-bottom: 0px; font-weight: 700;}

.found-right {padding: 30px 0px 32px 50px;  background: #51459E1A 0% 0% no-repeat padding-box; border-radius: 10px;}
.found-right h5{letter-spacing: -0.9px; font-size: 18px;  color: #51459E; font-weight: 700;  opacity: 0.8;}
.found-right h3{font-size: 35px; margin-bottom: 0px;  letter-spacing: -2px; color: #000000; font-weight: 700;  opacity: 0.8;}
.found-right p{font-size: 20px;  letter-spacing: -1px; color: #000000; opacity: 0.5; font-weight: 700;}
.found-right .date{letter-spacing: -0.9px; margin-bottom: 20px;  color: #DD3636; opacity: 0.8; font-size: 15px; font-weight: 700; line-height: 12px;}
.hourly-right{background: #DD36361A !important;}
.start-right{background: #1B9BDE1A;}


.Conveniencebox{background: #FEF6DF; border: 1px solid #FAD15C; border-radius: 10px;}
.Conveniencebox h4{letter-spacing: -1.2px; margin-bottom: 3px; color: #242424; font-size: 20px;}
.Conveniencebox p{margin-bottom: 5px !important; font-size: 12px !important;}
.convenience-bg{background: url(../images/receipt-bg.svg); background-repeat: no-repeat;
    background-size: 30%; background-position: right;}

.services-box {background-color: #ffffff; box-shadow: 0px 12px 34px #20345914; border-radius: 10px; padding-top: 0px;}
.services-box .service-img{border-radius: 10px 10px 0px 0px;}
.company-box{padding: 12px 24px 10px 24px;}
.company-box h5{font-weight: 700 !important; font-size: 22px; margin-bottom: 13px;}
.company-box h4{font-size: 18px;margin-bottom: 0px; font-weight: 700;}
.company-box .play-img{height: 35px !important; width: 35px !important;  object-fit: cover !important; object-position: top !important;
     border-radius: 50% !important;}

.servicebox-img{width: 100%; height: 150px;}
.servicebox-img img{width: 100%; height:100%; object-fit: cover; object-position: top;}

.fixedcost-box {padding: 20px 24px; background: #51459E1A; border-radius: 10px;}
.fixedcost-box h5{font-size: 15px; font-weight: 700; color: #51459E; margin-bottom: 0px; opacity: 0.8;}
.fixedcost-box h3{font-size: 30px !important; font-weight: 600; letter-spacing: -2px;color: #000000;} 
.pipe-head{letter-spacing: -0.9px; font-size: 14px; font-weight: 900; color: #1B9BDE;}

//clent-browse
.checkout-label{color: #242424; font-weight: 500; font-size: 14px;}
.payment-checkout{position: absolute; right: 15px; top: 25px; height: 25px;}
.select-checkout{border: none; font-size: 14px; font-weight: 500; color: #24242466; background: url(../images/arrow-down.svg) no-repeat right; appearance: none;}
.select-checkout:focus{box-shadow: none; outline: none; color: #24242466;}
.select-box{padding: 17px 20px; background: #FFFFFF; box-shadow: 0px 12px 34px #20345914; border-radius: 10px;}
.client-section h1 span{color: #5A9E45;}

.booking-confirmed p{color: #000000; font-size: 16px; font-weight: 400; margin-bottom: 0px;}
.booking-confirmed h6{color: #00000099; font-size: 15px; font-weight: 400; margin-top: 15px; margin-bottom: 0px; line-height: 18px;}
.booking-confirmed h4{color: #51459E; font-weight: 700; font-size: 14px; margin-bottom: 0px; margin-top: 0px;}
.booking-confirmed h5{color: #242424; font-weight: 500; font-size: 14px; margin-bottom: 0px;}
.booking-confirmed h1{color: #000000; font-weight: 700; font-size: 25px; margin-bottom: 0px; line-height: 18px;}

.booking-confrd .play-img{height: 30px; width: 30px; border-radius: 50%; object-fit: cover; object-position: top;
}
.booking-confrd p{font-size: 14px;}
.booking-confrd h6{font-size: 14px;}

.position-stikyfixedbox{position: sticky; top: 0px; top: 80px;}

// Model
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    // display: none;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    outline: 0;
    padding: 0 !important;
}
.modal .btn-close{
    background: url(../images/popup-close3.png) no-repeat top right;  border: none; height: 30px; width: 30px;
}
.modal-dialog {
   
    background: #fff;
    position: relative;
    width: auto;
    pointer-events: none;
}
.filter-popup2 .modal-dialog {
    background: #F1F3F7;
}

.modal.fade.modal-dialog-slideout .modal-dialog {
    -webkit-transform: translate(100%) scale(1); 
     /* transform: translate(-100%) scale(1);  */
    margin: 0 0 0 auto;
    height: 100%;
}

.modal.fade.show.modal-dialog-slideout .modal-dialog {
    /* -webkit-transform: translate(0); */
     transform: translate(0); 
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    min-height: 100%;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-radius: 0;
    outline: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem 40px; 
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-footer {
   text-align: left;
   align-items: flex-start;
   justify-content: flex-start;
    padding: 1rem 30px;
    border-top: 0 solid #eeeef1;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.modal-header {
    // display: block;
    padding: 35px 40px 0px 40px;
    border-bottom: 0 solid #eeeef1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.client-sectionconfirmed{background: url(../images/confirmedbg.jpg) bottom right;
    background-repeat: no-repeat;background-size: 55%;}

.remove-btnoutline{border: 1px solid #DD3636; border-radius: 8px; color: #DD3636; font-weight: 600;
    padding: 8px 30px; font-size: 13px;}

.new-table td{border-top: none; font-size: 14px; color: #242424; font-weight: 700; text-align: center;
    padding: 15px 0px !important;}
.new-table td.active{background: #51459E; border-radius: 5px; color: #FFFFFF;}
.new-table td:first-child{width: 10%;}

.wash-installationSelect h6{color: #000000; font-weight: 600; font-size: 17px; margin-bottom: 0px;}
.wash-installationSelect p{color: #00000099; font-weight: 400; font-size: 13px; margin-bottom: 0px;}
.selcet-servicesmargintop{margin-top: 140px;}

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #ffffff;
}
  .slick-prev.slick-disabled:before {
      opacity: 1;   }

 .slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-next {
    z-index: 10;
    position: absolute;
    right: 20px;
}
.slick-prev {
    z-index: 10;
    position: absolute;
    left: 20px;
}

.popup-btnint{border: none; background: #F2F2F2; padding: 0px;}
.popup-btnint:hover{border: none; background: #F2F2F2;}
.popup-btnint:focus{outline: none; box-shadow: none;}
.popup-btnright{background: #E3E3E3 !important; border: none;}
.popup-btnright:focus{outline: none; box-shadow: none; 
.popup-btnright:hover{border: none; background: #E3E3E3 !important;}}
.lfet-btnpopup{ background: #F2F2F2; border: none; border-radius: 8px 0px 0px 8px; font-size: 12px; color: #242424; font-weight: 500;}
.righ-btnpopup{background: #E3E3E3; border: none; border-radius: 0px 8px 8px 0px; font-size: 12px; color: #242424; font-weight: 500;}


.popup-input{border: none; background: #ffffff; font-weight: 500; font-size: 14px; box-shadow: 0px 12px 34px #20345914; text-align: center;}
.popup-input::placeholder{color: #242424;}
.popup-input:focus{outline: none; box-shadow: 0px 12px 34px #20345914;}

.input-group-text {padding: 0.37rem 1.3rem;}

.addNew-accorimg{margin-top: -6px;}


// 
 .multi-range-slider {border: none; box-shadow: none; padding: 0px;}

 .multi-range-slider .ruler .ruler-rule {
    border-left: none;
    border-bottom: none;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px 0px;
 }
 .multi-range-slider .ruler .ruler-rule:last-child {
     border-right: none; 
}
.multi-range-slider .bar-inner {
    background: #51459E;
    border: none;
    box-shadow: none;
}
.multi-range-slider .bar-left {
    background-color: #DDDDDD;
    box-shadow: none;
    padding: 3px 0px;
}
.multi-range-slider .bar-right {
    background-color: #DDDDDD;
    box-shadow: none;
}
.multi-range-slider .thumb::before {
    content: '';
    background-color: #51459E;
    position: absolute;
    width: 18px;
    height: 18px;
    border: none;
    box-shadow: none;
    top: 2px;
}
.multi-range-slider .label {margin-top: 0px; margin-bottom: 0px;}
.multi-range-slider .ruler {margin: 0px;}

//
.range-scrollmember{width: 100%;}
.range-scroll{background: #51459E !important;}

 
   
  /* The slider itself */
  .range-scrollmember {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */ 
    border-radius: 100px; 
  }
  .range-scrollmember::-webkit-slider-runnable-track {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 7px; /* Specified height */
    background: #DDDDDD; /* Grey background */
    border-radius: 25px;
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  
  .range-scrollmember::-webkit-range-track {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 7px; /* Specified height */
    background: #DDDDDD; /* Grey background */
    border-radius: 25px;
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .range-scrollmember::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: #51459E; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    margin-top: -5px;
  }
  
  .range-scrollmember::-moz-range-thumb {
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: #51459E; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  //sprint-3
.filter-textservicesscheduled{color: #51459E; font-weight: 700; font-size: 18px; display: flex; justify-content: end; align-items: center;}
.services-labeltext{color: #575656; font-weight: 600; font-size: 16px; margin-bottom: 0px;}
.service-itemschedul-text{background: #51459E; color: #ffffff; box-shadow: 0px 12px 34px #20345914;
    border-radius: 10px; text-align: center; padding: 16px 0px;}
.service-itemschedul-text h6{font-size: 24px; font-weight: 700; margin-bottom: 0px; line-height: 18px;}
.service-itemschedul-text p{font-size: 12px; margin-top: 5px; font-weight: 700; margin-bottom: 0px; line-height: 18px; text-transform: uppercase;}
.chat-textred {position: relative;}
.chat-textred .notification-numb{width: 18px; height: 18px; font-size: 12px; right: 0px; line-height: 16px;}
.gorden-ratetext{color: #51459E; font-weight: 700;}
.padding-redtext{color: #DD3636;}

// 
.client-chatboxdetails{background: #FEF6DF 0% 0% no-repeat padding-box; border: 1px solid #FAD15C; border-radius: 10px;
     position: relative;}
.client-chatboxdetails h1{color: #242424; font-size: 28px; margin-bottom: 0px; font-weight: 900;}
.client-chatboxdetails p{color: #242424; font-size: 16px; font-weight: 500; margin-bottom: 0px; line-height: 18px;}
.chatboxrightimg{position: absolute; top: -75px; left: -25px; height: 142px;}
.rightchatboxbg{background: url(../images/client-cahtboxservicedetailsbg.svg); background-repeat: no-repeat; background-size: contain;
background-position: right;  padding: 40px 20px;}
.scheduled-lefttext h6{color: #51459E; font-weight: 700; font-size: 15px; margin-bottom: 0px;}
.scheduled-lefttext p{color: #242424; font-weight: 500; font-size: 13px; margin-bottom: 0px;} 

.booked-forbox{background: #FAD15C; border-radius: 0px 10px; position: absolute; padding: 10px 15px; right: 0px; top: 0px;}
.booked-forbox p{color: #242424; font-weight: 500; margin-bottom: 0px; font-size: 12px; margin-top: 0px; line-height: 15px;}
.booked-forbox h6{color: #242424; font-weight: 700; font-size: 12px; margin-bottom: 0px;}


.service-sectionbookingcancel{background: url(../images/client-selector-right.svg) bottom right;
    background-repeat: no-repeat;background-size: 35%;}

// 
.arrow_box p{color: #434943; font-weight: 400; font-size: 11px; margin-bottom: 0px;}
.arrow_box {
	position: relative;
	background: #FFFFFF;
    padding: 15px 15px;
    border-radius: 5px;
}
.arrow_boxblue{background: #51459E;}
.arrow_boxblue::after{border-top-color: #51459E !important; left: 20% !important;}
.arrow_boxblue p{color: #ffffff;}
.arrow_box:after {
	top: 100%;
	left: 94%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	// border-color: rgba(136, 183, 213, 0);
	border-top-color: #ffffff;
	border-width: 13px;
	margin-left: -30px
}
.caht-timming{color: #1B221B; font-weight: 700; font-size: 10px; margin-bottom: 0px;}
.chat-boxbtn{ background: #DDDDDD; border-radius: 5px; color: #1B221B; font-weight: 700; font-size: 10px; padding: 2px 8px;}

.typing-boximg { width: 35px; height: 35px; line-height: 25px; background: #FFFFFF; border-radius: 50%; text-align: center; }
.typing-textcolor{color: #1B221B; font-weight: 500; font-size: 12px; margin-bottom: 0px;}
.send-btn {background: #51459E; border-radius: 15px; position: absolute; right: 30px; top: 7px; padding: 0.375rem 0.65rem;}
.typing-int { background: #FFFFFF; box-shadow: 0px 10px 20px #00000014; text-overflow: ellipsis; overflow: hidden; position: relative;
    white-space: nowrap; font-size: 12px; border-radius: 20px; border: none; padding: 28px 20px; }
.typing-int:focus{box-shadow: none; outline: none; border: none; background: #FFFFFF; box-shadow: 0px 10px 20px #00000014;}
.typing-int::placeholder{color: #8C92A1; }

// 
.paymentpendingdetailsboxright{background: #DDDDDD;}
.dashed-borderfixedbox::after{
    content: "";
    position: absolute;
    border-bottom: 1px dashed #51459e73;
    width: 350px;
    left: 0px;
}
.paymentpendingassuredbox{padding: 17px 0px; background: url(../images/green-tick.svg); background-repeat: no-repeat;
    background-size: 28%; background-position: right;}

.paymentpendingassuredbox h1{font-weight: 500; font-size: 16px;}
.paymentpendingassuredbox h6{padding-top: 0px !important; display: flex; align-items: center; font-weight: 600; margin-bottom: 0px;}
.paymentpendingassuredbox h5{margin-left: 20px; font-size: 16px;}
.paymentpendingassuredbox h6 a {font-size: 14px; text-decoration: none;}
.range-labelmgnbtm{margin-bottom: 0px;}
.text-input{
    padding-top: 20px;
}

.cancel-bookingpopup h1{color: #242424; font-weight: 600; font-size: 20px; margin-bottom: 0px;}
.cancel-bookingpopup p{margin-bottom: 0px; color: #242424cc; font-size: 12px; font-weight: 600;}
.bookingcancel-popup .modal-body{padding: 1rem 30px;}
.bookingcancel-popup .modal-dialog{border-radius: 10px;}
.bookingcancel-popup .modal-header {
    padding: 25px 40px 0px 40px;} 


.new-popupimg{width: 100%; height: 220px;}
.new-popupimg img{width: 100%; height: 100%; object-fit: contain;}

//sprint4
.nav-tabs .nav-link:last-child{margin-right: 0px;}
.hirestep-rise{margin-bottom: 0px; color: #242424; font-weight: 500; font-size: 16px;}
.milestonepupup-input{background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 10px; font-size: 13px;
     font-weight: 500; padding: 33px 18px 33px 18px;}
.milestonepupup-input:focus{background: #FFFFFF; border: 1px solid #DDDDDD; outline: none; box-shadow: none;}
.milestonepupup-input::placeholder{color: #24242466;}
.milestonepupup-label{color: #242424; font-size: 14px; font-weight: 500;}
.milestone-pstion{position: absolute; right: 18px; top: 20px;}
.sericeproviderCheckoutThankyou{background: none;}
.hire-thankyou{padding-top: 300px;}


.service-individual-browsetext p{color: #FFFFFF; margin-bottom: 0px; writing-mode: vertical-lr; transform: rotate(180deg);
     background: #51459E; box-shadow: 0px 12px 34px #20345914; border-radius: 10px; padding: 18px 10px;
     margin-left: 0px; font-weight: 700; font-size: 14px;}
.service-individualcompany{margin-left: 0px; font-weight: 700;}

.service-itemnew p{color: #242424; font-weight: 500;}
.service-individual-browsetextyellow p{background: #FAD15C; color: #9D7D24;  padding: 10px 10px;}
.serviceitemyindividual{color: #919191;}

.projectmilestoneaccord .accordion-header .accordup { display: none; float: right }
.projectmilestoneaccord .accordion-header .accorddown { float: right }
.projectmilestoneaccord .accordion-header .collapsed .accorddown { display: none; float: right }
.projectmilestoneaccord .accordion-header .collapsed .accordup { display: block; float: right }

.projectmilestone-headtext p { margin-bottom: 0px; color: #000000; font-weight: 700; font-size: 15px; display: flex; align-items: center;}
.projectmilestone-headtext img{height: 18px; margin-right: 6px;}
.projectmilestone-headtext{background: #51459E1A; position: absolute; padding: 8px 35px; left: -6px; top: -23px;}

.projectmilestoneaccord .card-header .milestone-blacktext{float: right; color: #000000 !important; font-weight: 500; font-size: 14px;}
.project-milestonesinner p{margin-bottom: 0px; color: #000000; font-weight: 500; font-size: 15px;}
.project-milestonesinner p {font-size: 12px;}
.similar-projectbids{color: #000000cc; font-weight: 400; font-size: 14px; margin-bottom: 0px;}
.similar-projectredtext{color: #dd3636cc; font-weight: 700; font-size: 14px; margin-bottom: 0px;}
.hourly-btnnew{padding: 8px 30px; box-shadow: 0px 12px 34px #20345914;
    border-radius: 10px; color: #9D7D24; font-weight: 700; font-size: 13px;}
.new-explorebtn{font-weight: 700; padding: 8px 25px; font-size: 13px; border-radius: 8px;}
.new-fixedcost p{font-size: 14px; color: #000000cc;}
.new-costvalue{color: #51459E; font-weight: 700; font-size: 12px;}
.seattle-Washinton{color: #1B9BDE; font-weight: 700; font-size: 12px;}
.submitmy-bidnew{position: absolute; right: 15px; top: 18px;}
.bid-submittedtext{color: #000000cc; font-size: 12px;}
.submitted-bidblue{color: #51459E; font-size: 12px; font-weight: 600;}



// 
.account-timeslotsec{background: #51459E05; border-radius: 8px; padding: 20px 40px;}
.new-labelbluetext{color: #51459E; font-weight: 700;}
.balk-actionsection ul {margin: 0px; padding: 0px;}
.balk-actionsection ul li{list-style: none; width: 49%; float: left; margin-bottom: 6px; margin-right: 6px;  }
.balk-actionsection ul li:nth-child(2n+2) { margin-right: 0px;  }
.fc-today-button { display: none !important;}
.fc a:hover { text-decoration: none;} 
.fc .fc-toolbar-title {margin: 0; color: #242424; font-size: 40px; font-weight: 900; margin-bottom: 0px;}
.fc .fc-button-primary:disabled {display: none;}
.newclient-headclender h2{position: absolute; top: 48px;}
.fc .fc-daygrid-day-top {text-align: center; align-items: center; justify-content: center; }
.fc-theme-standard .fc-scrollgrid {border: none;}

.fc-theme-standard td, .fc-theme-standard th {border: none;}
.fc .fc-daygrid-day-number {color: #242424; font-size: 30px; font-weight: 300; padding: 0px;}
.fc .fc-col-header-cell-cushion {color: #51459E; font-weight: 700; font-size: 13px;}

.fc .fc-daygrid-day-frame {border: 1px solid #51459E33; border-radius: 8px !important; margin: 5px;}

.fc .fc-daygrid-day.fc-day-today {background: none;}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame{background: #51459E !important; border: 1px solid #51459E33;
        border-radius: 8px; }
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame .fc-daygrid-day-number{color: #FFFFFF;}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame .fc-h-event .fc-event-main {color: #FFFFFF !important;}

.fc-h-event {background: none; border: none; }
.fc-h-event .fc-event-main {color: #51459E !important; font-weight: 500; font-size: 10px;}
.fc .fc-daygrid-event {text-align: center;}
.fc .fc-daygrid-day-events{margin-top: 0px;}

.fc .fc-button-primary {background-color: #FFFFFF; border-color: #FFFFFF;}
.fc .fc-button .fc-icon {color: #000000;}
.fc .fc-button-primary:hover {
    color: #000000;
    background: #FFFFFF;
    border-color: #FFFFFF;
}
.fc .fc-button-primary:focus, .fc .fc-button:active {
    box-shadow: none !important;
    background: none !important; 
    border: none !important;
}

.fc .fc-toolbar.fc-header-toolbar { margin-bottom: 46px;}





    











